
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --Blue: #2196F3;
    --black: #212121;
    --black-logo: #000000;  
    --white: #FFFFFF;
    --gray: #757575;
    --background-white: #FFFFFF;
    --background-gray: #2F303A;
    --background-button:#F5F4FA;
    --button-active: #188CE8;
    --rgba-gray: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-bottom: 0;
    margin-top: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{ 
    list-style: none;  
}
.conteiner{
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px red solid;
}

/* HEADER */
.header {
   padding: 25px 0px;
    margin-bottom: 24px;
}

.logo {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.1923;
letter-spacing: 0.03em;
color: var(--Blue);
text-decoration: none;
 
}
.logo-studio {
    color: var(--black-logo);
}
.nav-list .nav-link.current {
color: var(--Blue);
}


.nav-item {
font-weight: 500;
font-size: 14px;
line-height: 1.1428;
letter-spacing: 0.02em;
}
.nav-link{
    color: var(--black);
}
.link {
    text-decoration: none;
}  
.link:hover, .link:focus{
    color: var(--Blue);
}
.contacts {
}
.contacts-item {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.contacts-link:hover, .contacts-link:focus {
    color: var(--Blue);
}
.contacts-link { 
    color: var(--gray);

}
/* HERO */

.hero{
  background-color: var(--background-gray); 
  margin-bottom: 65px;
  padding: 195px 0px 205px 0px;
  text-align: center;
}
.hero-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white);
}
.hero-button {
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--white);
background-color: var(--Blue);
font-family: inherit;
border-color: var(--Blue);
cursor: pointer;
display: inline-block;

}
.hero-button:hover, .hero-button:focus {
    background-color: var(--button-active);
}
/* ADVANTTAGE */
.advantage {
    margin-bottom: 94px;
}
.advantage-title {
    display: none;
}

.advantage-suptitle {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--black);
margin-bottom: 10px;
}
.advantage-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--gray);
}
/* EXAMPLE */
.examples {
    margin-bottom: 94px;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-bottom: 50px;
}

.examples-items {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}
/* TEAM */
.tiam {
    background-color: var(--background-button);
    padding: 94px 0px;
    margin-bottom: 94px;
}
/* !!!!!!!!!!!!!! не знаю чи так можна.Але зробити одним не вийшло!!!!!!!!!!!!!!!!!!!!!!!!!1 */
/* .tiam-item:nth-child(3) {
    margin: 0px 30px;
}
.tiam-item:nth-child(2) {
    margin: 0px 30px; } */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.tiam-item{
    padding-bottom: 30;
    
}



.tiam-name {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--black);
ma
}
.tiam-position {
    font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--gray);
}
/* FOOTER */
.footer {
    background-color:var(--background-gray);
    padding: 50px 0px;
}
.footer-logo {
    font-family: 'Raleway';
 font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--Blue);
text-decoration: none;
}
.footer-studio {
    color: var(--white);
    font-family: 'Raleway';
}
.footer-address {
    font-weight: 400;
font-size: 14px;
line-height: 1.71px;
letter-spacing: 0.03em;
color: var(--rgba-gray);
text-decoration: none;
font-style: normal;
}
.address {
    color: var(--white);
    
}
.footer-address:hover, .footer-address:focus{
    color: var(--Blue);
} 
/*---------------------------Portfilio-----------------------------------*/
.portfolio{
    margin-bottom: 68px;
}
.filters-list{
    margin-bottom: 50px;
}
.filters-button{
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--black);
background-color: var(--background-button);
border-color: var(--background-button);
font-family: inherit;
}
.filters-button:hover, .filters-button:focus {
color: var(--white);
background-color: var(--Blue);
cursor: pointer;
}


.portfolio-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--black);
margin-top: 20px;
margin-bottom: 4px;
}
.portfolio-suptitle {
    font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--gray);
}
.portfolio-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white);
}